[submodule "HedgehogLightFirmware"]
	path = HedgehogLightFirmware
	url = https://github.com/PRIArobotics/HedgehogLightFirmware.git
[submodule "HedgehogHWCFlasher"]
	path = HedgehogHWCFlasher
	url = https://github.com/PRIArobotics/HedgehogHWCFlasher.git
[submodule "HedgehogPlatform"]
	path = HedgehogPlatform
	url = https://github.com/PRIArobotics/HedgehogPlatform.git
